# Core Dash libraries for the web application
dash
dash-bootstrap-components

# Library for scientific computing (handling image arrays)
numpy
pandas

# Library to read and write NetCDF files (.nc format)
netCDF4
